@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto+Condensed:wght@300;400&family=Yantramanav&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 50%;
    margin-left: 15px;
}
.inicio {
    background-color: white;
    color: #496682;
    font-size: medium;
    font-weight: bold;

}
.colorboton {
    background-color: #496682;
    color: white;
}
.magia {
    background-color: #496682;
    color: white;
    text-align: center;
    padding: 20px;
}
.vistiendo {
    font-size:large;
}
.juntos {
    font-size: medium;
}
.look {
    color: #496682;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.seguridad {
    width: 55%;
    display: flex; 
    margin: 0px 245px;
}
.tarj {
    width: 40%;  
}
.regalo {
    grid-area: regalo;
    text-align: center;
    font-size: 19px;
    color: white;
    background-color: #496682;
    padding: 15px 15px; 
    text-decoration: none;

}
.regalo a {
    text-decoration: none;
    color: white;
}
.regalo a:hover {
    color: sienna;
}
#video {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.newsletter {
    grid-area: newsletter;
    color: sienna;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    padding: 15px 15px;
}
footer {
    background-color: #496682;
    color: white;
}
.foocolor ul {
    color: white;
}
.articulo {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 40px;
}

@media screen and (max-width:800px) {
        .logo {
            width: 40%;
            margin-left: 15px;
        }
        .seguridad {
            width: 30%;
            display: flexbox;
            justify-content: center;
            margin-right: 60px;
        }
        .articulo {
            width: 80%;
            display: block;
            padding: 20px;
            margin: 50px;
            text-align: center;
            
        }
}

    
@media screen and (max-width:500px) {
        .logo {
                width: 50%;
            }
            .seguridad {
               display: none;    
            }
            .articulo {
                width: 50%;
                display: block;
                padding: 20px;
                margin: 20px;
                text-align: center;
            }
}
    
@media screen and (max-width:380px) {
           
        .logo {
                   width: 45%;
                  margin-left: 85px;
                    
                }
                .seguridad {
                    display: none;
                }
                .articulo {
                    width: 10%;
                    display: block;
                    padding: 5px;
                    text-align: center;
                }
  }
